<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="UTF-8">
    <title>添加课程</title>
</head>

<body class="contanier">
    <div class="row">
        <div class="col-md-12">
            <form action="insert" method="post">
                <label>课程名:</label>
                <input type="text" name="name" value="" />
                {volist name="klasses" id="klass"}
                <input type="checkbox" name="klass_id[]" id="klass_id_{$key}" value="{$klass->id}" />
                    <label for="klass_id_{$key}">{$klass->name}</label>
                {/volist}
                <button type="submit">保存</button>
            </form>
        </div>
    </div>
</body>

</html>