<!DOCTYPE html>
<html lang="zh-cn">
    <head>
        <meta charset="UTF-8">
        <title>编辑</title>
    </head>
    <body class="contanier">
        <div class="row">
            <div class="col-md-12">
                <form action="update" method="post">
                    <label>课程名:</label>
                    <input type="hidden" name="id" value="{$Course->id}" />
                    <input type="text" name="name" value="{$Course->name}" />
                    <button type="submit">保存</button>
                </form>
            </div>
        </div>
    </body>
</html>