<!DOCTYPE html>
<html lang="zh-cn">
    <head>
        <meta charset="UTF-8">
        <title>编辑班级信息</title>
    </head>
    <body>
        <form action="update" method="post">
            <input type="hidden" name="id" value="{$Klass->id}">
            <label for="name">name:</label><input type="text" name="name" id="name" value="{$Klass->name}"/>
            <label for="teacher">teacher:</label>
            <select name="teacher_id" id="teacher">
                {volist name="teachers" id="teacher"}
                    <option value="{$teacher->id}" {eq name="teacher->id" value="$Klass->teacher_id"} selected="selected" {/eq}>{$teacher->name}</option>
                {/volist}
            </select>
            <button type="submit">submit</button>
        </form>
    </body>
</html>